.row {
  line-height: 65px;
  height: 75px;
}
ul {
  line-height: 15px;
  height: 65px;
  list-style-type: none;
  border-style: groove;
  border-top: none;
  text-align: center;
}

.current-position {
  padding: 5px;
  border-style: groove;
}
