<mat-toolbar class="grid-toolbar">
    <label>
        New Char:
        <input type="text" maxlength="1" [(ngModel)]="newChar">
    </label>
    <span class="space"></span>
    <button class="mat-button mat-button-base" (click)="addChar()">
        <mat-icon>add</mat-icon>
        <span class="mat-button-wrapper">Add</span>
    </button>
    <button class="mat-button mat-button-base" (click)="deleteChar()">
        <mat-icon>delete</mat-icon>
        <span class="mat-button-wrapper">Delete</span>
    </button>
</mat-toolbar>

<mat-radio-group [(ngModel)]="selectedChar" color="primary">
    <mat-radio-button *ngFor="let char of turingMachine.tapeCharacters; let i = index"
                      [value]="i">{{char}}</mat-radio-button>
</mat-radio-group>
