<mat-toolbar class="grid-toolbar">
    <span class="space"></span>
    <button class="mat-button mat-button-base" (click)="addState()">
        <mat-icon>add</mat-icon>
        <span class="mat-button-wrapper">Add</span>
    </button>

    <button class="mat-button mat-button-base" (click)="editState()">
        <mat-icon>create</mat-icon>
        <span class="mat-button-wrapper">Edit</span>
    </button>

    <button class="mat-button mat-button-base" (click)="deleteState()">
        <mat-icon>delete</mat-icon>
        <span class="mat-button-wrapper">Delete</span>
    </button>
</mat-toolbar>
<ag-grid-angular
        class="ag-theme-balham page-with-header-height"
        [rowData]="turingMachine.states"
        [columnDefs]="stateColumnDefs"
        [rowSelection]="rowSelection "
        (gridReady)="onStateGridReady($event)">
</ag-grid-angular>
