<div class="container">
    <label>
        Input:
        <input type="text" [(ngModel)]="input">
    </label>
    <button class="mat-button mat-button-base" (click)="calculate()">
        <span class="mat-button-wrapper">Send</span>
    </button>

    <ag-grid-angular
            style="height: 500px;"
            class="ag-theme-balham"
            [rowData]="states"
            [columnDefs]="stateColumnDefs">
    </ag-grid-angular>

    <ag-grid-angular
            style="height: 500px;"
            class="ag-theme-balham"
            [rowData]="rules"
            [columnDefs]="ruleColumnDefs">
    </ag-grid-angular>
    <toaster-container [toasterconfig]="toastConfig"></toaster-container>
</div>