<div class="container">
    <div class="row">
        <div class="col-md-5">{{statesMap[condition.currentState].name}}</div>
        <div class="col-md-3">
            <ul>
                <li *ngFor="let char of charactersBehind">{{char}}</li>
                <li *ngIf="restCharactersBehind.length" matTooltip="{{restCharactersBehind}}">...</li>
            </ul>
        </div>
        <div class="col-md-1">
            <span class="current-position">{{condition.currentPosition}}</span>
        </div>
        <div class="col-md-3">
            <ul>
                <li *ngFor="let char of charactersAhead">{{char}}</li>
                <li *ngIf="restCharactersAhead.length" matTooltip="{{restCharactersAhead}}">...</li>
            </ul>
        </div>
    </div>
</div>
