<div class="container" *ngIf="calculation">
    <h1>Calculation</h1>
    <button class="mat-button mat-button-base" (click)="back()">
        <span class="mat-button-wrapper">Back</span>
    </button>

    <mat-tab-group (selectedIndexChange)="tabSelectionChange($event)">
        <mat-tab label="Difference">
            <app-calculation-difference-tab *ngIf="calculation"
                                            [calculation]="calculation"></app-calculation-difference-tab>
        </mat-tab>
        <mat-tab label="Two Stack Initialization">
            <app-calculation-two-stack-init-tab [twoStackInitConditions]="twoStackInitConditions">
            </app-calculation-two-stack-init-tab>
        </mat-tab>
        <mat-tab label="Turing run">
            <ag-grid-angular
                    class="ag-theme-balham page-height"
                    [rowData]="calculation.turingConditions"
                    [columnDefs]="conditionColumnDefs"
                    [rowSelection]="rowSelection "
                    (gridReady)="onTuringCalculationGridReady($event)">
            </ag-grid-angular>
        </mat-tab>
        <mat-tab label="Two Stack run">
            <ag-grid-angular
                    class="ag-theme-balham page-height"
                    [rowData]="calculation.twoStackConditions"
                    [columnDefs]="conditionColumnDefs"
                    [rowSelection]="rowSelection "
                    (gridReady)="onTwoStackCalculationGridReady($event)">
            </ag-grid-angular>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #MachineRunHeader>
    <div class="row">
        <div class="col-md-4">
            <span>State</span>
        </div>
        <div class="col-md-3">
            <span>Characters Behind</span>
        </div>
        <div class="col-md-2">
            <span>Current Position</span>
        </div>
        <div class="col-md-3">
            <span>Characters Ahead</span>
        </div>
    </div>
</ng-template>
