<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
<!--    <form>-->
<!--        <p class="h4 mb-4">Contact us</p>-->

<!--        &lt;!&ndash; Name &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 mx-auto d-flex justify-content-center">-->
<!--                <input type="text" class="form-control mb-4" placeholder="Name">-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="col-md-6 mx-auto d-flex justify-content-center">-->
<!--                <mdb-checkbox [default]="true" class="mb-4">Start State</mdb-checkbox>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 mx-auto d-flex justify-content-center">-->
<!--                <mdb-checkbox [default]="true" class="mb-4">Accept State</mdb-checkbox>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 mx-auto d-flex justify-content-center">-->
<!--                <mdb-checkbox [default]="true" class="mb-4">Decline State</mdb-checkbox>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
