<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{title}}
            </h1>
        </div>
    </div>

    <mat-toolbar class="grid-toolbar">
        <label>
            Input:
            <input style="height:1.8em;" type="text" [(ngModel)]="input">
        </label>
        <span class="space"></span>
        <button class="mat-button mat-button-base" (click)="calculate()">
            <mat-icon>play_arrow</mat-icon>
            <span class="mat-button-wrapper">Calculate</span>
        </button>
        <button class="mat-button mat-button-base" (click)="save()">
            <mat-icon>save</mat-icon>
            <span class="mat-button-wrapper">Save</span>
        </button>
    </mat-toolbar>

    <mat-tab-group (selectedIndexChange)="tabSelectionChange($event)">
        <mat-tab label="Characters">
            <app-turing-machine-character-tab
                    [turingMachine]="turingMachine"
                    (turingMachineChange)="initPage($event)">
            </app-turing-machine-character-tab>
        </mat-tab>

        <mat-tab label="States">
            <app-turing-machine-state-tab #stateTab
                                          [turingMachine]="turingMachine"
                                          (turingMachineChange)="initPage($event)">
            </app-turing-machine-state-tab>
        </mat-tab>

        <mat-tab label="Rules">
            <app-turing-machine-rule-tab #ruleTab
                                         [turingMachine]="turingMachine"
                                         (turingMachineChange)="initPage($event)">
            </app-turing-machine-rule-tab>
        </mat-tab>

        <mat-tab label="JSON">
            <app-turing-machine-json-tab
                    [turingMachine]="turingMachine"
                    (turingMachineChange)="initPage($event)">
            </app-turing-machine-json-tab>
        </mat-tab>
    </mat-tab-group>
</div>
