<div class="container">
    <h1>
        {{title}}
    </h1>

    <label>
        Input:
        <input type="text" [(ngModel)]="input">
    </label>
    <button class="mat-button mat-button-base" (click)="calculate()">
        <span class="mat-button-wrapper">Send</span>
    </button>

    <mat-tab-group>
        <mat-tab label="Characters">
            <mat-toolbar class="grid-toolbar">
                <label>
                    Input:
                    <input type="text" maxlength="1" [(ngModel)]="newChar">
                </label>
                <span class="space"></span>
                <button class="mat-button mat-button-base" (click)="addChar()">
                    <mat-icon>add</mat-icon>
                    <span class="mat-button-wrapper">Add</span>
                </button>
                <button class="mat-button mat-button-base" (click)="deleteChar()">
                    <mat-icon>delete</mat-icon>
                    <span class="mat-button-wrapper">Delete</span>
                </button>
            </mat-toolbar>

            <mat-radio-group [(ngModel)]="selectedChar">
                <mat-radio-button *ngFor="let char of chars; let i = index" [value]="i">{{char}}</mat-radio-button>
            </mat-radio-group>

        </mat-tab>
        <mat-tab label="States">
            <mat-toolbar class="grid-toolbar">
                <span class="space"></span>
                <button class="mat-button mat-button-base" (click)="addState()">
                    <mat-icon>add</mat-icon>
                    <span class="mat-button-wrapper">Add</span>
                </button>

                <button class="mat-button mat-button-base" (click)="editState()">
                    <mat-icon>create</mat-icon>
                    <span class="mat-button-wrapper">Edit</span>
                </button>

                <button class="mat-button mat-button-base" (click)="deleteState()">
                    <mat-icon>delete</mat-icon>
                    <span class="mat-button-wrapper">Delete</span>
                </button>
            </mat-toolbar>
            <ag-grid-angular
                #agGrid
                style="height: 500px;"
                class="ag-theme-balham"
                [rowData]="states"
                [columnDefs]="stateColumnDefs"
                [rowSelection]="rowSelection "
                (gridReady)="onStateGridReady($event)">
            </ag-grid-angular>
        </mat-tab>
        <mat-tab label="Rules">
            <mat-toolbar class="grid-toolbar">
                <span class="space"></span>
                <button class="mat-button mat-button-base" (click)="addRule()">
                    <mat-icon>add</mat-icon>
                    <span class="mat-button-wrapper">Add</span>
                </button>

                <button class="mat-button mat-button-base" (click)="editRule()">
                    <mat-icon>create</mat-icon>
                    <span class="mat-button-wrapper">Edit</span>
                </button>

                <button class="mat-button mat-button-base" (click)="deleteRule()">
                    <mat-icon>delete</mat-icon>
                    <span class="mat-button-wrapper">Delete</span>
                </button>
            </mat-toolbar>
            <ag-grid-angular
                #agGrid
                style="height: 500px;"
                class="ag-theme-balham"
                [rowData]="rules"
                [columnDefs]="ruleColumnDefs"
                [rowSelection]="rowSelection "
                (gridReady)="onRuleGridReady($event)">
            </ag-grid-angular>
        </mat-tab>
    </mat-tab-group>
</div>
