mat-radio-group {
  display: flex;
  flex-direction: column;

  mat-radio-button {
    padding: 0 5px 0 5px;
  }
}

mat-toolbar {
  .space {
    flex: 1 1 auto;
  }

  button {
    display: inline-block !important;
    float: right;
  }
}
