<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <!--  fromState: this.rule.fromState,-->
    <!--  readCharacter: this.rule.readCharacter,-->
    <!--  toState: this.rule.toState,-->
    <!--  writeCharacter: this.rule.writeCharacter,-->
    <!--  direction: this.rule.direction-->
    <form class="example-container" [formGroup]="machineRuleForm">
        <!-- From State -->
        <div class="row">
            <label class="col-md-3 mx-auto d-flex">From State: </label>
            <div class="col-md-6 mx-auto d-flex">
                <mat-select required formControlName="fromState">
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <!-- Read Character -->
        <div class="row">
            <label class="col-md-3 mx-auto d-flex">Read Character: </label>
            <div class="col-md-6 mx-auto d-flex">
                <mat-select required formControlName="readCharacter">
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let character of tapeCharacters" [value]="character">{{character}}</mat-option>
                </mat-select>
            </div>
        </div>
        <!-- To State -->
        <div class="row">
            <label class="col-md-3 mx-auto d-flex">To State: </label>
            <div class="col-md-6 mx-auto d-flex">
                <mat-select required formControlName="toState">
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let state of states" [value]="state">{{state.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <!-- Write Character -->
        <div class="row">
            <label class="col-md-3 mx-auto d-flex">Write Character: </label>
            <div class="col-md-6 mx-auto d-flex">
                <mat-select required formControlName="writeCharacter">
                    <mat-option>-- None --</mat-option>
                    <mat-option *ngFor="let character of tapeCharacters" [value]="character">{{character}}</mat-option>
                </mat-select>
            </div>
        </div>
        <!-- Direction   -->
        <div class="row">
            <div class="col-md-3 mx-auto d-flex">
                <label>Direction: </label>
            </div>
            <div class="col-md-6 mx-auto d-flex">
                <mat-radio-group formControlName="direction" color="primary">
                    <mat-radio-button value="FORWARD">Forward</mat-radio-button>
                    <mat-radio-button value="STAY">Stay</mat-radio-button>
                    <mat-radio-button value="BACKWARD">Backward</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
    <button class="mat-button" mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button class="mat-button" (click)="onOkClick()">Save</button>
</mat-dialog-actions>
