<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <form class="example-container" [formGroup]="machineStateForm" (onSubmit)="onOkClick()" >
        <!-- Name -->
        <div class="row">
            <div class="col-md-6 mx-auto d-flex">
                <input formControlName="name" type="text" class="form-control mb-4" placeholder="Name" required>
            </div>
        </div>
        <!-- Start State -->
        <div class="row">
            <div class="col-md-6 mx-auto d-flex">
                <mat-checkbox formControlName="start">Start State</mat-checkbox>
            </div>
        </div>
        <!-- Accept State -->
        <div class="row">
            <div class="col-md-6 mx-auto d-flex">
                <mat-checkbox formControlName="accept">Accept State</mat-checkbox>
            </div>
        </div>
        <!-- Decline State -->
        <div class="row">
            <div class="col-md-6 mx-auto d-flex">
                <mat-checkbox formControlName="decline">Decline State</mat-checkbox>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="onOkClick()">Save</button>
</mat-dialog-actions>
